.xcodeproj/!*.xcodeproj/project.pbxproj

*.xcuserstate

.DS_Store

*.xcuserstate

ScorePad.xcodeproj/project.xcworkspace/xcuserdata/ancajulean.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

ScorePad.xcodeproj/xcuserdata/ancajulean.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

ScorePad.xcodeproj/xcuserdata/ancajulean.xcuserdatad/xcschemes/ScorePad.xcscheme
